.calc-app,
.calc-app2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calc-app2 .form-item {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .calc-app2 .form-item {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .calc-app2 .form-item {
    width: 90%;
  }
}
.l-box {
  padding-bottom: 1px;
}
.calc-label,
.calc-select {
  padding-left: 10px;
  padding-right: 5px;
}
.calc-row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.calc-row label {
  font-weight: normal;
}
.calc-total {
  font-size: 25px !important;
}
.calc-list {
  margin-top: 0;
}
hr {
  margin: .5em 0 !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}